body {
    background-image: url(https://images.wallpaperscraft.ru/image/single/gorod_zdaniia_arhitektura_172575_1920x1080.jpg);
    background-size: 3500px;
    background-position: center;
    background-repeat: no-repeat;
}

.searcher {
    color: white;
    text-align: center;
    font-size: 25px;
    margin-top: 150px;
}

.search {
    color: white;
    background-color: #50535e;
    width: 500px;
    margin: auto;
    padding: 10px;
    border-radius: 10px;
    height: auto;
    align-items: center;
    display: flex;
    flex-direction: column;
}

#engine {
    background-color: #79929c;
    color: white;
    border-radius: 5px;
    margin: auto;
    margin-top: 10px;
    outline: none;
}

.search button {
    background-color: #79929c;
    color: white;
    border-radius: 5px;
    margin: auto;
    margin-top: 10px;
    border: 1px solid white;
}

.search button:hover {
    background-color: #303238;
}

.engine:hover {
    background-color: #303238 !important;
}

.engine {
    border: 1px solid white;
}


.search-box {
    width: 490px;
}

.search-style {
    color: white;
    background-color: #303238;
    font-size: 17px;
    border-radius: 5px;
    outline: none;
}

.edit-tab,
.delete-tab {
  width: 28px;
  height: 28px;
  padding: 2px;
  font-size: 16px;
  line-height: 1;
  text-align: center;
  background-color: rgba(255, 255, 255, 0) !important;
  border: none !important;
  cursor: pointer;
  user-select: none;
}

.center-div {
    align-items: center;
    display: flex;
    flex-direction: column;
}

.sc-a {
    align-items: center;
    display: flex;
    flex-direction: row;
}



@media (max-width: 500px) {
    .search button {
        margin: auto;
    }
    .search {
        margin-top: auto;
        width: 100%;
        padding-left: 0%;
        padding-right: 0%;
    }
    .search-box {
        width: 100%;
        box-sizing: border-box;
    }
    .searcher {
        font-size: 15px;
    }

    .sc-a {
        flex-direction: column;
    }
}

@media (max-width: 240px) {
    .sc-b {
        width: 100%;
        box-sizing: border-box;
    }
}